.landingLogo {
    margin-top: 10%;
    margin-left: 35%;
}

.stupidName {
    margin-top: -2%;
    margin-left: 40%;
}

.createdBy {
    margin-top: 15%;
    margin-left: 35%;
}

.idontlikereact {
    text-decoration:none;
    color: black;
}

