#btn-row {
    text-align: center;
}

.details {
    margin-top: 20%;
}

.donkeybox {
    height: 30%;
    width: 80%;
    background-color:white;
    border-radius: 35px;
    cursor: pointer;
}

.donkeyheader {
    width: 100%;
    color: white;
}

.donkeyheader h3 {
    padding: 10px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
}

.donkey-content {
    text-align: center;
}

.teamdonkey1 img {
    margin-top: 5%;
    width: 50%;
    height: auto;
}
.teamdonkey2 img {
    margin-top: 4%;
    width: 55%;
    height: auto;
}

.donkeyversus {
    margin-top: 5%;
}

